.slides-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 600px;
  padding: 0 10px;
  text-align: center;
}

.slides {
  display: flex;
  overflow-x: auto;
  overflow-y: hidden;
  scroll-snap-type: x mandatory;
  -webkit-overflow-scrolling: touch;
  scroll-behavior: smooth!important;
  transition: all 0.5s;
}

.slides::-webkit-scrollbar {
  background-color: transparent;
  height: 20px;
  width: 10px;
}

.slides::-webkit-scrollbar-thumb{
  background-color: transparent;
  border-bottom: 20px solid rgba(36, 36, 199, 0.974);    /* color of the scroll thumb */
  border-radius: 20px;
}

.category {
  display: flex;
  position: relative;
  top: -80px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 100%;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.8);
  color: #fff;
  font-size: 25px;
  font-weight: bolder;
}

.slide {
  flex: none;
  
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  
  height: 290px;
  width: 300px;
  margin: 0 10px;
  background-color: rgba(248, 244, 244, 0.6);
  color: #000;
  border: 1px solid whitesmoke;
  border-radius: 10px;
  box-shadow: 4px 6px 10px rgb(0 0 0 / 30%);
  
  scroll-snap-align: start;
}

.slide img {
  width: 100%;
  object-fit: cover;
}
.prev, .next {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 290px;
  width: 60px;
  cursor: pointer;
  color: #fff;
  font-size: 40px;
}
.next{
  float: right;
  position: absolute;
  right: 10px;

  background: linear-gradient(
    270deg,
    rgba(0, 0, 0, 0.9) -11%,
    rgba(255, 255, 255, 0) 100%
  );
}
.next:after {
  content: "\25B6";
}

.prev {
  float: left;
  position: absolute;
  left: 10px;

  background: linear-gradient(
    90deg,
    rgba(0, 0, 0, 0.9) -11%,
    rgba(255, 255, 255, 0) 100%
  );
}

.prev:after {
  content: "\25C0";
}